<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="test" connectionString="mongodb://test:test@localhost/test" />
	</connectionStrings>
	<system.serviceModel>
		<client>
			<endpoint address="https://185.66.184.58/KKAdminService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKKAdminService" contract="KKAdminService.IKKAdminService" name="WSHttpBinding_IKKAdminService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IKKAdminService" transactionFlow="false">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing">
				<listeners>
					<add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\test\trace\trace.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>