<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="test" connectionString="mongodb://test:test@localhost/test"/>
	</connectionStrings>
	<system.serviceModel>
		<client>
			<endpoint address="https://185.66.184.58/KKAdminService.svc"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKKAdminService"
					contract="KKAdminService.IKKAdminService" name="WSHttpBinding_IKKAdminService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IKKAdminService" transactionFlow="false">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>