<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="https://185.66.184.58/KKAdminService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKKAdminService"
                contract="KKAdminService.IKKAdminService" name="WSHttpBinding_IKKAdminService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://businessws.sampopankki.fi/edifileservice/edifileservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="CorporateFileServiceHttpBinding"
                contract="DanskeBankEdiService.CorporateFileServicePortType"
                name="CorporateFileServiceHttpPort" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="CorporateFileServiceHttpBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IKKAdminService" transactionFlow="false">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>