<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IKKAdminService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/KbhKKAdminService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IKKAdminService" contract="KKAdminService.IKKAdminService"
                name="WSHttpBinding_IKKAdminService" />
        </client>
    </system.serviceModel>
</configuration>